

.crumbdown ul {
  margin:0;
  padding:0;
  list-style:none;
}

.crumbdown li {
  display:inline;
  float:left;
  margin:0;
  padding:0;
  list-style:none;
  list-style-image:none;
  background:none;
  position:relative;
}

.crumbdown li a {
  display:block;
}

.crumbdown li ul,
.crumbdown li li {
  display:block;
  float:none;
  padding:0;
  margin:0;
}

.crumbdown li ul {
  right:auto;
  position:absolute;
  left:-6000px;
  z-index:120;
  background:white;
  border:1px solid #666;
  padding:0 0 6px;
}

.crumbdown li:hover ul {
  left:-7px;
}

.crumbdown li li a {
  white-space:nowrap;
  padding:0 6px;
}

.crumbdown li li a:hover {
  background:#eee;
}
